<th:block>
  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
          <div class="full">
            <div class="center-desk">
              <div class="logo">
                <a href="/"><img th:src="@{~/images/rcoon.png}" alt="#" width = "320" height = "80"/></a>
              </div>
            </div>
          </div>
        </div>
        <th:block th:include="~{fragments/navbar}"></th:block>
      </div>
    </div>
  </div>
</th:block>